extends _layout

block main
  section#marketing
    .container-fluid
      .row
        .col-xs-12.m-0.p-0
          img#banner(src='img/banner-6.jpg')
          .main-wrapper.d-flex.justify-content-star.align-items-center
            main.ml-5
              h1
                span.mb-1.p-2 Importator
              h1
                span.mb-1.p-2 de Maquinas Pesadas

              a.cta(href='#', role='button') Ver las Maquinas <i class="ion-chevron-right"></i>

  section#background-info
    .container-fluid
      .row
        .col-xs-12.mb-3.p-4
          .service
            p Desde su creación en 2014, hemos traído docenas de las mejores retroexcavadoras y Excavadoras de segunda mano de Alemania, Francia, Holanda, Belgica y luxemborgo.

            p Nos hemos enfrentado a muchos sorpresas pero hemos llegado a un punto en el que si podemos decir que estamos los mejores en Uruguay para llevar maquinas pesadas al mejor precio en todo seguridad.
            p Buscando máquinas específicas y la proponmos directamente desde los vendedores.
            p Así que hemos decidido de hacer Mercyl su empresa de transporte


  p Retroexcavadoras, Excavadoras, motoniveladora, Pala Cargadora, Compactadora, Minicargadora, Bulldozer, Miniexcavadora, Grua/haulotte
  section#mission
    .container
      .d-flex.justify-content-around
        .card.text-center.m-1
          h3.card-header
            i.ion-ios-flower-outline
          .card-block
            h4.card-title Vendedores
            p.card-text Seleccionamos y trabajamos con los distribuidores más confiables

        .card.text-center.m-1
          h3.card-header
            i.ion-android-create
          .card-block
            h4.card-title Inspeccion
            p.card-text La máquinas estan inspeccionada por un ingeniero y proporciona un informe completo y la foto de la máquina

        .card.text-center.m-1
          h3.card-header
            i.ion-social-usd-outline
          .card-block
            h4.card-title Precio
            p.card-text Negociamos con el transportista para llevar la máquina al mejor precio

        .card.text-center.m-1
          h3.card-header
            i.ion-android-boat
          .card-block
            h4.card-title Transporte
            p.card-text Nos aseguramos de que la máquina cumple con el informe una vez que llegó a Uruguay

        .card.text-center.m-1
          h3.card-header
            i.ion-android-folder-open
          .card-block
            h4.card-title Aduana
            p.card-text Nos aseguramos de que la máquina cumple con el informe una vez que llegó a Uruguay

  section#showvideo
    .container
      .row
        .col-md-8.offset-2
          .embed-responsive.embed-responsive-16by9(align='center')
            video.embed-responsive-item(autoplay='', controls='', muted='')
              source(src='../video/promo.mp4', type='video/mp4')
