extends _layout

block main
  section#marketing
    .container-fluid.p-0.m-0
      .col-xs-12.m-0.p-0
        img#banner(src='img/banner-6.jpg')


  section#background-info
    .container-fluid
      .row
        .col-md-12.mb-3.p-4
          p Desde su creación en 2014, hemos traído docenas de las mejores retroexcavadoras y Excavadoras de segunda mano de Europa (Alemania, Francia, Holanda, Belgica, luxemborgo).
          p Nos hemos enfrentado a muchos chanllenge pero hemos llegado a un punto en el que si podemos decir que estamos los mejores en Uruguay para llevar maquinas pesadas al mejor precio en todo seguridad.
          p A lo largo de la carretera hemos descubierto que los clientes están buscando máquinas específicas, y por eso ahora estamos propongo maquinas directamente desde los vendedores.
          p Sabemos que para construir un País, el Emprendedor necesita buenas maquinarias a buen precio.
          p Así que hemos decidido de hacer Mercyl su empresa de transporte


  section#wait
    .container
      .col-md-12
        .row
          h1 Importator de Maquina pesadas

          hr.my-4
          p.lead desde Alemania, Holanda, Francia, Belgica y Luxemborgo
          p Retroexcavadoras, Excavadoras, motoniveladora, Pala Cargadora, Compactadora, Minicargadora, Bulldozer, Miniexcavadora, Grua/haulotte
          a.btn.btn-primary.btn-lg(href='#', role='button') Vendedores
          a.btn.btn-primary.btn-lg(href='#', role='button') Maquinas

  section#mission
    .container
      .row.mb-5
        .col-md-12.d-flex.flex-row.flex-wrap.justify-content-around

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  Seleccionamos y trabajamos con los distribuidores más confiables de Europa
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  La máquina es inspeccionada por un ingeniero y proporciona un informe completo y la foto de la máquina
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum. Nam metus metus, molestie at arcu ac, vehicula egestas enim. Mauris ut facilisis eros. Quisque sed erat risus. Vivamus sollicitudin lectus et lorem ornare sodales. Maecenas condimentum, dolor a rutrum ornare, libero est bibendum sapien, a tempor leo velit in eros. In in luctus quam, a consectetur purus.

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  Negociamos con el transportista para llevar la máquina al mejor precio
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum. Nam metus metus, molestie at arcu ac, vehicula egestas enim. Mauris ut facilisis eros. Quisque sed erat risus. Vivamus sollicitudin

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  Nos aseguramos de que la máquina cumple con el informe una vez que llegó a Uruguay
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum. Nam metus metus, molestie at arcu ac, vehicula egestas enim. Mauris ut facilisis eros. Quisque sed erat risus. Vivamus sollicitudin lectus et lorem ornare sodales. Maecenas condimentum, dolor a rutrum ornare, libero est bibendum sapien, a tempor leo velit in eros.

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  Nos encargamos del aspecto administrativo y de la transferencia internacional de dinero a los distribuidores
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum.

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true")  Proporcionamos una aproximación apropiada del precio de la máquina en dólares todo incluido
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum. Nam metus metus, molestie at arcu ac, vehicula egestas enim. Mauris ut facilisis eros. Quisque sed erat risus. Vivamus sollicitudin lectus et lorem ornare sodales. Maecenas condimentum.

          .card.m-1
            .card-block
              h4.card-title
                i.fa.fa-line-chart(aria-hidden="true") Proporcionamos un desglose claro del precio incluido nuestro honorario
              .card-text Morbi id eros vel justo malesuada convallis. Etiam vel pretium nisi. Duis viverra ac justo id ultricies. Ut pulvinar neque sit amet sapien consequat condimentum. Nam metus metus, molestie at arcu ac, vehicula egestas enim.

  section#showvideo
    .container
      .row
        .col-md-8.offset-2
          .embed-responsive.embed-responsive-16by9(align='center')
            video.embed-responsive-item(autoplay='', controls='', muted='')
              source(src='../video/promo.mp4', type='video/mp4')
