nav.navbar.navbar-expand-md.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='index.html')
    .wrap-logo
      img(src='img/logo.png', alt='')
      | Mercyl
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#') Inicio
      li.nav-item
        a.nav-link(href='#') Nosotros
      li.nav-item
        a.nav-link(href='#') Contactar
