// Variables
@import "theme"

// Colors
.bg-faded
  background-color: white

.bg-brand-color
  background-color: $cst-brand-color
  color: white

.bg-brand-color-light
  background-color: $cst-brand-color-light

.bg-secondary-color
  background-color: $cst-secondary-color

.bg-primary-dark
  background-color: $cst-primary-dark

// Sections

//  max-width: 1280px
 // max-height: 720px

#marketing
  position: relative
  & h1
    font-family: $open-sans

#banner
  width: 100%
  height: auto
  margin: 0 auto

.whatwedo
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  border: 1px black solid

@include media-breakpoint-down(md)
  #marketing .h1
    font-size: 16px

// home/marketing

#background-info
  margin: 0
  color: $cst-primary-dark
  font-width: 700
  font-size: 18px

// home/mission
section#mission .card
  width: 300px

section#showvideo
  background-color: black

//
section#inventory img
  height: 400px
