// Variables
@import "theme"

// Colors
.bg-faded
  background-color: white

.bg-brand-color
  background-color: $cst-brand-color
  color: white

.bg-brand-color-light
  background-color: $cst-brand-color-light

.bg-secondary-color
  background-color: $cst-secondary-color

.bg-primary-dark
  background-color: $cst-primary-dark

// Sections

//  max-width: 1280px
 // max-height: 720px

#marketing
  position: relative
  color: white
  & h1
    font-family: $cst-display-1

#banner
  width: 100%
  height: auto
  margin: 0 auto

.whatwedo
  position: absolute
  top: 0
  left: 20px
  right: auto
  text-align: left
  border: 1px black solid

@include media-breakpoint-down(xs)
  #marketing
    & h1
      font-size: 16px
    & p
      font-size: 12px

// home/marketing

#background-info
  margin: 0
  color: $cst-primary-dark
  font-width: 700
  font-size: 18px

// home/mission
section#mission .card
  width: 300px

section#showvideo
  background-color: black

//
section#inventory img
  height: 400px
